<footer class="footsy">
    <div class="row">
        <div class="col-3 mobileStack">
            <h1>Company</h1>
            <ul>
                <li>About</li>
                <li>Blog</li>
                <li>Career</li>
            </ul>
        </div>
        <div class="col-3 mobileStack">
            <h1>Company</h1>
            <ul>
                <li>About</li>
                <li>Blog</li>
                <li>Career</li>
            </ul>
        </div>
        <div class="col-3 mobileStack">
            <h1>Company</h1>
            <ul>
                <li>About</li>
                <li>Blog</li>
                <li>Career</li>
            </ul>
        </div>
        <div class="col-3 mobileStack">
            <h1>Company</h1>
            <ul>
                <li>About</li>
                <li>Blog</li>
                <li>Career</li>
            </ul>
        </div>
    </div>
</footer>