{{!-- <nav>
    <ul>
        <li class="left">
            <a href="/"><img src="./images/logo.png" alt="" class="logo"></a>
        </li>
        <li class="right">
            <a href="/">Home</a>
        </li>
        <li class="right">
            <a href="/about">About</a>
        </li>
        <li class="right">
            <a href="/register">Register</a>
        </li>
    </ul>
</nav> --}}
<nav>
    <ul class="topnav" id="dropdownClick" style="float: right">
        <li><a href="/">Home</a></li>
        <li><a href="/secret">Secret</a></li>
        <li><a href="/register">Sign Up</a></li>
        <li><a href="/login">Sign In</a></li>
        <li><a href="/logout">Sign Out</a></li>
        <li class="dropdownicon"><a href="javascript:void(0)" onclick="dropdownMenu()">&#9776</a></li>
    </ul>
</nav>